body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 1px;
  overflow-x: hidden;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 10% 10% round;
  border: 0.5px none rgb(65, 6, 65);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 200%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -1;
}

.stars {
  animation: space 30s ease-in-out infinite;
  background-image: radial-gradient(
      2px 2px at 50px 10px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 100px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 250px 140px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 50px 10px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 100px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 250px 140px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      3px 3px at 100px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 220px 160px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    );
}
.starss {
  animation: space 40s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 125px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 25px 5px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 125px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      3px 3px at 50px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 110px 80px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    );
}

.starsss {
  animation: space 50s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 75px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      3px 3px at 169px 69px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 100px 5px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 10px 10px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    );
}
.starssss {
  animation: space 60s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 75px 125px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      3px 3px at 169px 69px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 100px 5px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(
      4px 4px at 10px 10px,
      hsl(51, 71%, 57%),
      hsla(0, 0%, 100%, 0)
    );
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}
