html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(5, 5, 29);
  text-align: center;
  color: #49483c;
  font-family: "Fira Mono", monospace;
  letter-spacing: 0.01em;
}
.moon {
  width: 500px;
  height: 500px;
  border: 1px solid #50504f;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #50504f;
  transform: translateZ(0);
}
.moon::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(5, 5, 29);
  width: 50%;
  height: 100%;
  animation: flip 6s 3s steps(2) infinite alternate;
}

.disc {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  animation: rotate 12s linear infinite;
}
.disc::before,
.disc::after {
  content: " ";
  display: block;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 12s;
  position: absolute;
  backface-visibility: hidden;
}
.disc::before {
  background-color: #50504f;
}
.disc::after {
  background-color: rgb(5, 5, 29);
  transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flip {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
