body {
  overflow-x: auto;
}
.sun {
  background: radial-gradient(
    circle at bottom,
    rgb(235, 133, 0) 30%,
    rgb(243, 97, 30) 100%
  );
  position: absolute;
  top: 95%;
  left: 47%;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: none;
  z-index: -2;
}
.orbita {
  position: absolute;
  top: 91%;
  left: 45%;
  width: 240px;
  height: 240px;
  border: 0.1px #000000 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 3s linear infinite;
  animation: spin-right 3s linear infinite;
  z-index: -2;
}
.planeta {
  border: none;
  position: absolute;
  top: 62px;
  left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #bdd1b3;
  z-index: -1;
}
.orbita1 {
  position: absolute;
  top: 89%;
  left: 44%;
  width: 275px;
  height: 275px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 6s linear infinite;
  animation: spin-right 6s linear infinite;
}
.planeta1 {
  border: none;
  position: absolute;
  top: 62px;
  left: 10px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #64bada;
  z-index: -1;
}
.orbita2 {
  position: absolute;
  top: 86.5%;
  left: 42.7%;
  width: 320px;
  height: 320px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 8s linear infinite;
  animation: spin-right 8s linear infinite;
}
.planeta2 {
  border: none;
  position: absolute;
  top: 62px;
  left: 12px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #06573a;
  z-index: -1;
}
.orbita3 {
  position: absolute;
  top: 84%;
  left: 41.4%;
  width: 370px;
  height: 370px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
  z-index: -2;
}
.planeta3 {
  border: none;
  position: absolute;
  top: 62px;
  left: 26px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #c24207;
  z-index: -1;
}
.orbita4 {
  position: absolute;
  top: 80.6%;
  left: 39.5%;
  width: 430px;
  height: 430px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
  z-index: -2;
}
.planeta4 {
  border: none;
  position: absolute;
  top: 62px;
  left: 22px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #ede573;
  z-index: -1;
}
.orbita5 {
  position: absolute;
  top: 75.5%;
  left: 37.4%;
  width: 530px;
  height: 530px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
  z-index: -2;
}
.planeta5 {
  border: none;
  position: absolute;
  top: 62px;
  left: 57px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #997928;
  z-index: +1;
}
.orbita6 {
  position: absolute;
  top: 71.4%;
  left: 35.4%;
  width: 595px;
  height: 595px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 17s linear infinite;
  animation: spin-right 17s linear infinite;
  z-index: -2;
}
.planeta6 {
  border: none;
  position: absolute;
  top: 288px;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: #447be1;
  z-index: -1;
}
.orbita7 {
  position: absolute;
  top: 68%;
  left: 34%;
  width: 660px;
  height: 660px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
  z-index: -2;
}
.planeta7 {
  border: none;
  position: absolute;
  top: 310px;
  left: -14px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #1c64eb;
  z-index: -1;
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
