body {
  overflow-x: auto;
}
.sun {
  background: radial-gradient(
    circle at bottom,
    rgb(235, 133, 0) 30%,
    rgb(243, 97, 30) 100%
  );
  position: absolute;
  top: 90%;
  left: 46%;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: none;
  z-index: -2;
}
.orbita {
  position: absolute;
  top: 85%;
  left: 43.5%;
  width: 140px;
  height: 140px;
  border: 0.1px #000000 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 3s linear infinite;
  animation: spin-right 3s linear infinite;
  z-index: -2;
}
.planeta {
  border: none;
  position: absolute;
  top: 62px;
  left: -3px;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: #bdd1b3;
  z-index: -1;
}
.orbita1 {
  position: absolute;
  top: 82%;
  left: 42%;
  width: 175px;
  height: 175px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 6s linear infinite;
  animation: spin-right 6s linear infinite;
}
.planeta1 {
  border: none;
  position: absolute;
  top: 62px;
  left: -4px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #64bada;
  z-index: -1;
}
.orbita2 {
  position: absolute;
  top: 79%;
  left: 40.5%;
  width: 210px;
  height: 210px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 8s linear infinite;
  animation: spin-right 8s linear infinite;
}
.planeta2 {
  border: none;
  position: absolute;
  top: 62px;
  left: -3px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #06573a;
  z-index: -1;
}
.orbita3 {
  position: absolute;
  top: 76%;
  left: 39%;
  width: 240px;
  height: 240px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
  z-index: -2;
}
.planeta3 {
  border: none;
  position: absolute;
  top: 62px;
  left: 3px;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  background-color: #c24207;
  z-index: -1;
}
.orbita4 {
  position: absolute;
  top: 70%;
  left: 37%;
  width: 290px;
  height: 290px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
  z-index: -2;
}
.planeta4 {
  border: none;
  position: absolute;
  top: 62px;
  left: 3px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #ede573;
  z-index: -1;
}
.orbita5 {
  position: absolute;
  top: 66%;
  left: 35%;
  width: 330px;
  height: 330px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
  z-index: -2;
}
.planeta5 {
  border: none;
  position: absolute;
  top: 62px;
  left: 11px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #997928;
  z-index: -1;
}
.orbita6 {
  position: absolute;
  top: 62%;
  left: 33.3%;
  width: 365px;
  height: 365px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 17s linear infinite;
  animation: spin-right 17s linear infinite;
  z-index: -2;
}
.planeta6 {
  border: none;
  position: absolute;
  top: 63px;
  left: 24px;
  height: 19px;
  width: 19px;
  border-radius: 100%;
  background-color: #447be1;
  z-index: -1;
}
.orbita7 {
  position: absolute;
  top: 59%;
  left: 31.5%;
  width: 400px;
  height: 400px;
  border: 0.1px #000000 dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
  z-index: -2;
}
.planeta7 {
  border: none;
  position: absolute;
  top: 65px;
  left: 34px;
  height: 17px;
  width: 17px;
  border-radius: 100%;
  background-color: #1c64eb;
  z-index: -1;
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
